<div class="body">
<div class="sasha">
<div class="tesla-container">
  <div class="car">
    <div class="front-light"></div>
    <div class="car-fix"></div>
    <div class="car-front-light-bulb-glare"></div>
    <div class="car-windshield"></div>
    <div class="car-bumper-top">
      <div class="front-light-bulb"></div>
    </div>
    <div class="car-bumper"></div>
     <div class="car-divider"></div>
    <div class="car-rear-mirror"></div>
    <div class="car-side-mirror"></div>
    <div class="car-tire">
      <div class="front">
        <div class="detail-1"></div>
         <div class="detail-2"></div>
        <div class="detail-3"></div>
      </div>
      <div class="rear">
        <div class="detail-1"></div>
         <div class="detail-2"></div>
        <div class="detail-3"></div>
      </div>
    </div>
    <div class="car-fender">
      <div class="car-shine"></div>
      <div class="bottom"></div>
    </div>
    <div class="car-fender-bottom"></div>
    <div class="car-starman">
      <div class="face"></div>
      <div class="back"></div>
      <div class="hand"></div>
      <div class="steering"></div>
    </div>
      <div class="seat"></div>
    <div class="car-rear-top">
    <div class="back-light"></div>
    </div>
    <div class="car-deco"></div>
  </div>
</div>
</div>
</div>